/*Estilização do container*/
div .container-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/*Estilização pokemon types*/
div .pokemon-type {
    display: flex;
    gap: 10px;
    justify-content: start;
    width: 300px;
}
/*Estilização pokemon infos*/
div .pokemon-infos {
    display: flex;
    align-items: start;
    gap: 40px;
    justify-content: start;
    width: 300px;
    
}

/*Estilização barra de progresso*/
div .progress {
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

progress {
    height: 5px;
    border-radius: 15px;
}

progress::-moz-progress-bar {  
    background: rgb(255, 0, 0);
    border-radius: 15px;
}



