/*Estilização container da página*/
div .container-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 130px;
}

/*Estilização Container de pokemons*/
div .container-pokemons {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    justify-content: center;
    width: 88%;
    margin-top: 60px;
}

/*Estilização Card de pokemons*/
div #card-types {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

div .card-pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(236, 235, 235);
    box-shadow: 0 0 1px 1px rgb(232, 232, 233);
    padding: 10px;
    border-radius: 15px;
    width: 240px;
    height: 290px;
}

div .card-pokemon img{
    width: 150px;
    height: 150px;
    transition: 0.5s;
}

div .normalPoke img:hover{
    margin-top: -70px;
    width: 220px;
    height: 220px;
    cursor: pointer;
}

div .greyPoke img{
    filter: grayscale(1);
}

/*Estilização pokebola para ir a pokedex*/
div  #pokebola img{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50px;
    padding: 10px;
    cursor: pointer;
}

div #pokebola-open img {
    width: 65px;
}

/*Estilização ver mais pokemons*/
div .show-more {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

div .show-more img {
    width: 50px;
    margin-bottom: 20px;
}

/*Estilização pokedex vazia*/
div .pokedex-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
}

div .pokedex-empty p{
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 15px;
}
